body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f8fff4;
    color: #333;
}

header {
    background-color: #2d3438;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.logo-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-content img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo-content div {
    text-align: left;
}

h4 {
    margin: 0;
    font-size: 1.5em;
    color: #90be6d;
}

p {
    margin: 0;
    font-size: 1em;
    color: #b2b2b2; 
}

hr {
    border: 2px;
    height: 2px;
    background: #f3f6f8;
    margin: 20px 0;
}

h2 {
    text-align: center;
    font-family: 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #2d3438; 
}

.input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-top: 60px;
    background-color: #fff; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    margin: 20px;
}

.input-section label {
    font-weight: bold;
    margin-right: 10px;
}

.input-section input[type="number"],
.input-section input[type="date"],
.input-section select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #dcdcdc; 
    border-radius: 5px;
}

.input-section button {
    padding: 10px 20px;
    background-color: #5a9a66; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.expenses-list {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    overflow: hidden;
}

th, td {
    border: 1px solid #dcdcdc; 
    padding: 15px;
    text-align: left;
}

th {
    background-color: #5a9a66; 
    color: #fff;
}

tfoot td {
    font-weight: bold;
}

.delete-btn {
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 200px;
    height: 100px;
    border-radius: 25px;
    background-color: rgb(67, 61, 61); 
    color: white;
    margin-top: 50px;
     font-size: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
}

.box a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 20px;
    color:white; 
}

.box:hover {
    background-color: #466946;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    p {
        margin-left: 0;
    }

    .input-section {
        flex-direction: column;
    }

    .input-section label {
        margin-bottom: 5px;
    }

    .input-section input,
    .input-section select {
        width: 100%;
        margin-bottom: 10px;
    }

    .expenses-list table {
        font-size: 12px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    body {
        font-size: 16px;
    }
    p {
        margin-left: 0;
    }

    .expenses-list table {
        font-size: 14px;
    }
}

@media (min-width: 901px) {
    body {
        font-size: 18px;
    }

    .expenses-list table {
        font-size: 16px;
    }
}
