body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform .2s; 
}

.container:hover {
  transform: scale(1.02); 
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 80%;
  height: 25px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group p {
  margin: 0;
  font-size: 12px;
  color: #999;
  text-align: right;
}

.form-group button {
  display: block;
  width: 85%;
  padding: 10px;
  background-color: #2f372f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-group p {
  margin: 0;
  font-size: 12px;
  color: red;
  text-align: left;
  margin-top: 20px;
}
.form-group {
  margin-bottom: 20px;
  position: relative;
}


h1 {
  color: #333;
}

.header {
    background-color: #393d42; 
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

  input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: #303630;
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    height: 40px;
    width: 80%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }
  #role{
    width: 85%;
  }